.input {
    border: none;
    outline: none;
    width: 100%;
    padding: 14px 16px;
    font-size: 16px;
    line-height: 23px;
    color: #80A2B6;
    border-bottom:  1px solid #E3EBEF;
    background: transparent
}